body{
    background-color: beige;
}
.bio{
    color: midnightblue;
    text-decoration: underline;
    font-weight: bold;
    font-family: fantasy;
}
h3{
    color: cornflowerblue;
}
span{
    font-style: italic blue;

}